.completed {
  text-decoration: line-through;
  text-decoration-color: rgba(0, 0, 0, 0.5); 
  text-decoration-thickness: 0.1em; 
}

  .thin{
    font-weight: 300;
  }

  .icon-gray {
    color: #888; 
  }

  .form-text{
    font-size: 12px;
  }

  
