.completed {
  text-decoration: line-through;
  text-decoration-color: rgba(0, 0, 0, 0.5); /* Cor da sombra */
  text-decoration-thickness: 0.1em; /* Espessura da sombra */
}

  .thin{
    font-weight: 300;
  }

  .icon-gray {
    color: #888; /* ou qualquer outra cor cinza que você preferir */
  }

  .form-text{
    font-size: 12px;
  }

  
