<div class="container">
  <h1 class="thin">Cadastro</h1>
  <form [formGroup]="form" (ngSubmit)="submit()" class="login-form">
    <div>
      <label for="name">Nome</label>
      <input formControlName="name" id="name" type="text" class="form-control">
      <div *ngIf="f['name'].touched && f['name'].invalid" class="alert alert-danger">
        <div *ngIf="f['name'].errors && f['name'].errors['required']">Nome obrigatório.</div>
        <div *ngIf="f['name'].errors && f['name'].errors['minlength']">Nome deve ter pelo menos 3 caracteres.</div>
      </div> 
    </div>
  
    <div>
      <label for="email">Email</label>
      <input formControlName="email" id="email" type="email" class="form-control">
      <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
        <div *ngIf="f['email'].errors && f['email'].errors['required']">Email obrigatório.</div>
        <div *ngIf="f['email'].errors && f['email'].errors['email']">Por favor, entre com um email válido.</div>
      </div>
    </div>
  
    <div>
      <label for="password">Senha</label>
      <input formControlName="password" id="password" type="password" class="form-control">
      <div *ngIf="form.controls['password'].touched && form.controls['password'].invalid" class="alert alert-danger">
        <div *ngIf="form.controls['password'].errors && form.controls['password'].errors['required']">Senha obrigatória.</div>
        <div *ngIf="form.controls['password'].errors && form.controls['password'].errors['minlength']">A senha deve ter pelo menos 8 caracteres.</div>
      </div>
    </div>
  
    <button class="btn btn-primary" type="submit">Cadastrar</button>
    <a href="/login">Já possui cadastro?</a>
  </form>
</div>
